  body{
    background: linear-gradient(45deg, pink 40%, white 50%, lightskyblue 60%);
    height: 100vh;
    margin: 0;
  }
#app {
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
    }
    .b{
        margin-right: 20px;
    }
    .b3{
        margin-right: 30px;
    }
    select{
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }
    .red{
        background-color: red;
        border: 1px;
        border-radius: 5px;
    }
    .b2{
        margin-right: 500px;
    }
    .b4{
        margin-right: 120px;
    }
    .b5{
        margin-right: auto;
    }
    .t{
        background-color: transparent;
        border: transparent;
    }
    .f{
        font-size: 20px;    
    }

    .title{
        text-align: left;
        color: blue;
        font-weight: bold;
        font-size:20px;
        margin-top:25px;
        margin-left:20px;
        line-height: 0.2;
    }

    .c1{
        margin-left:120px;
        color: rgb(216, 209, 209);
        font-size:10px;
        line-height: 0.3;
    }

    .c2{
        margin-top:35px;
    }

    .title1{
        text-align: left;
        color: blue;
        font-weight: bold;
        font-size:30px;
        margin-top:35px;
        margin-left:20px;
        line-height: 0.2;
    }

    .a1{
        text-align: left;
        color: rgb(216, 209, 209);
        font-size:10px;
        margin-left:20px;
    }


    .a2{
        display: flex;
    }

    .a3{
        justify-content: last baseline;
        text-align: left;
        font-size:20px;
        color: blue;
        margin-top:30px;
        margin-left:20px;
        width: 47%;
    }


    .a4{
        justify-content: last baseline;
        border: 1px solid rgb(101, 224, 240);
        width: 47%;
        color: rgb(216, 209, 209);
        font-size:15px;
        margin-left:20px;
        margin-top:20px;
        line-height: 2;

    }
}